a {
	color: white;
	border-bottom: 1px dotted white;	
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: white;
	border-color: transparent;
}

body {
	background-color: #2a80b9;
	color: #333333;
	font-size: 13px;
	font-family: helvetica, arial, verdana, sans-serif;
	padding: 12% 0;
}

input {
	border: 0px;
	color: #000;
	font-size: 17px;
	height: 30px;
	margin: 1px;
	margin-top: 5px;
	outline: none;
	padding: 5px 8px;
	width: 331px;
}

input[type=submit] {
	background-color: #3598DB;
	cursor: pointer;
	display: inline-block;
	color: #FFFFFF;
	font-family: helvetica, arial, verdana, sans-serif;
	margin-top: 20px;
	width: 348px;
	font-size: 15px;
	font-weight: bold;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
	text-decoration: none;
}

input[type=submit]:hover {
	color: #FFF;
	background-color: #3598DB;
}

input[type=submit]:active {
	position: relative;
	top: 1px;
}

.centered {
	margin: 0 auto;
	text-align: center;
	width: 25%;
}

.content {
	margin: 10px auto;
	padding: 1px;
	width: 350px;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 15px;
	margin: 5px 0;
}

label {
	font-weight: bold;
}

.languageBar {
	font-size: 12px;
	padding: 0px 5px 0;
}

.padded-5 {
	padding: 5px;
}

.info,.errors,.success,.warning {
	clear: both;
	font-weight: bold;
	margin: 18px 0;
	padding: 5px 5px 9px 35px;
	font-size: 13px;
}

.info {
	background-color: #9acced !important;
	font-weight: bold;
	color: #333 !important;
	background-image: url("../images/info.png");
	background-repeat: no-repeat, repeat;
	background-position: 5px 5px, 0 0 !important;
	padding: 2% 2% 2% 12%;
}

.errors {
	background-color: #f2dede !important;
	color: #333 !important;

	background-image: url("../images/error.png");
	background-repeat: no-repeat, repeat;
	background-position: 5px 5px, 0 0 !important;	

	padding: 2% 2% 2% 12%;
}

.success {
	background-color: #ddffaa !important;
	color: #333 !important;
	
	background-image:url("../images/confirm.png");
	background-repeat: no-repeat, repeat;
	background-position: 5px 5px, 0 0 !important;	
	padding: 2% 2% 2% 12%;
}

.successBackLink {
	color: #390;
}


.warning {
	background-color: #c09853 !important;
	color: #333 !important;

	background-image: url("../images/warning.png");
	background-repeat: no-repeat, repeat;
	background-position: 5px 5px, 0 0 !important;	
	padding: 2% 2% 2% 12%;
}
#content .errors h2,#content .success h2,#content .warning h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 48px;
	font-weight: 400;
	margin: 0 18px 0 0;
	padding: 0;
}

#content .success h2 {
	color: #008 !important;
}

#content .errors h2 {
	color: #b00 !important;
}

#content .success h2 {
	color: #060 !important;
}

/* static messages */
#content #msg p {
	padding: 0;
}

/* highlight errors */
input.error {
	background: #FFEFEF;
}

/* mark as required */
.required {
	background: #ffd;
}

.error {
	background: #ffefef;
}

input:-moz-placeholder { 
	color: #999;
	font-size: 18px; 
}
input::-webkit-input-placeholder {
	color: #999;
	font-size: 17px;
}
.help {
	background-color: #50A08C;
	color: #FFF;
	cursor: pointer;
	font-size: 0.7em;
	font-weight: bold;
	margin: 0 5px;
	padding: 3px 5px;
	position: relative;
	top: -1px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-font-smoothing: subpixel-antialiased;
}

#pswd_info {
	position:absolute;
	width:300px;
	padding:15px;
	background:white;
	font-size:.875em;
	display:none;
}

#pswd_info h4 {
	margin:0 0 10px 0;
	padding:0;
	font-weight:normal;
}

#pswd_info::before {
	content: "\25C2";
	position: absolute;
	top: 45%;
	left: -10px;
	font-size: 40px;
	line-height:14px;
	color:white;
	text-shadow:none;
	display:block;
}

.invalid {
	background:url(../images/error.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#ec3f41;
}
.valid {
	background:url(../images/confirm.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#3a7d34;
}

.capsLock {
	padding-left: 10px;
	padding-top: 5px;
	margin-bottom: -15px;
	visibility:hidden
}

input[type=submit]:disabled {
	color: #B2B2B2;
	background-color: rgb(142, 142, 142);
}
